{% assign freeProducts = "" %}
{% assign validProductsForFreeProduct = "" %}
{% assign productsForDiscount = "" %}




{%- paginate collections.all.products by 5000 -%}
{% for product in collections.all.products %}
{% assign proHandle = product.handle %}
{% capture proObject %}{ id: null, shopify_product_id: "{{ product.id }}" },{% endcapture %}

{% if product.tags contains "free-product" %}
{% assign freeProducts = freeProducts|append:'"'|append:proHandle|append:'"'|append:',' %}
{% endif %}

{% if product.tags contains "valid-for-free-product" %}
{% assign validProductsForFreeProduct = validProductsForFreeProduct|append:'"'|append:proHandle|append:'"'|append:',' %}
{% endif %}

{% if product.tags contains "discount-active" %}
{% assign productsForDiscount = productsForDiscount|append:proObject %}
{% endif %}

{% endfor %}
{%- endpaginate -%}

{% assign freeProducts = "["|append:freeProducts|append:"]" %}
{% assign freeProducts = freeProducts|replace:",]","]" %}

{% assign validProductsForFreeProduct = "["|append:validProductsForFreeProduct|append:"]" %}
{% assign validProductsForFreeProduct = validProductsForFreeProduct|replace:",]","]" %}

{% assign productsForDiscount = "["|append:productsForDiscount|append:"]"|strip %}
{% assign productsForDiscount = productsForDiscount|replace:"},]","}]" %}

<div class="freeProducts-modal" data-pros="{{ freeProducts }}">
<h3>Congrats!! Now you can add one free product to the cart.</h3>
{% assign freeProductsArray = freeProducts|replace:'[',''|replace:']',''| split: '"'|join:''|split:"," %}
<div class="free-product-listing" data-pros="{{ freeProductsArray }}">
	{% for slug in freeProductsArray %}
		{% assign product1 = all_products[slug] %}
		<div class="free-pro-item">
          <div class="cm-left-col">
            <img src="{{ product1.featured_image.src | img_url:small }}" class="cm-img" alt="{{ product1.title }}">
          </div>
          <div class="cm-right-col">
            <h3><a href="/products/{{ product1.handle }}">{{ product1.title }}</a></h3>
            <div class="cm-price">
              <span class="cm-val">${{ product1.price }}</span>
              <span class="">Free</span>
            </div>
            {% assign prefix = product1.type | split: ' ' | first | downcase | append: '-' %}
            <div class="swatch-listing">
              {% for variant in product1.variants %}
              {% assign swatch_filename = variant.title | downcase | replace: ' ', '-' | prepend: prefix | append: '.png' %}
			
              <div class="swatch-item" data-varid="{{ variant.id }}" style="background-color:{{ variant.title }}; background-image:url({{swatch_filename | asset_img_url: '40x' }})">{{ variant.title }}</div>
              {% endfor %}
            </div>
          </div>
		</div>
	{% endfor %}
	<span id="close-free-modal">X</span>
</div>
</div>

{% capture discountTiers %}[{% if settings.tier_1_line_qnty > 0 and settings.tier_1_dis_amount %}{
  type: "MinimumLineItemQuantityTier",
  min_cart_value: null,
  discount_amount: {{ settings.tier_1_dis_amount| times: 100 | replace:'.0','' }},
  discount_percent: null,
  min_line_item_value: null,
  min_cart_quantity: null,
  min_line_item_quantity: {{ settings.tier_1_line_qnty }},
  discount_type: "fixed_amount",
  min_selected_products_quantity: null,
  min_selected_products_value: null
},{% endif %}{% if settings.tier_2_line_qnty > 0 and settings.tier_2_dis_amount %}{
  type: "MinimumLineItemQuantityTier",
  min_cart_value: null,
  discount_amount: {{ settings.tier_2_dis_amount| times: 100 | replace:'.0','' }},
  discount_percent: null,
  min_line_item_value: null,
  min_cart_quantity: null,
  min_line_item_quantity: {{ settings.tier_2_line_qnty }},
  discount_type: "fixed_amount",
  min_selected_products_quantity: null,
  min_selected_products_value: null
},{% endif %}{% if settings.tier_3_line_qnty > 0 and settings.tier_3_dis_amount %}{
  type: "MinimumLineItemQuantityTier",
  min_cart_value: null,
  discount_amount: {{ settings.tier_3_dis_amount| times: 100 | replace:'.0','' }},
  discount_percent: null,
  min_line_item_value: null,
  min_cart_quantity: null,
  min_line_item_quantity: {{ settings.tier_3_line_qnty }},
  discount_type: "fixed_amount",
  min_selected_products_quantity: null,
  min_selected_products_value: null
},{% endif %}{% if settings.tier_4_line_qnty > 0 and settings.tier_4_dis_amount %}{
  type: "MinimumLineItemQuantityTier",
  min_cart_value: null,
  discount_amount: {{ settings.tier_4_dis_amount| times: 100 | replace:'.0','' }},
  discount_percent: null,
  min_line_item_value: null,
  min_cart_quantity: null,
  min_line_item_quantity: {{ settings.tier_4_line_qnty }},
  discount_type: "fixed_amount",
  min_selected_products_quantity: null,
  min_selected_products_value: null
}{% endif %}]{% endcapture %}


<style>
  .freeProducts-modal {
    position: fixed;
    height: 80vh;
    width: 600px;
    background: #ffff;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    padding: 20px;
    text-align: center;
    display: none;
  }

  .openFreeProductModal:after {
    position: fixed;
    content: "";
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    z-index: 98;
  }

  .openFreeProductModal .freeProducts-modal {
    display: block;
  }

  div#free-product-hints {
    width: 100%;
  }

  .freeProducts-modal {
    overflow: auto;
    width: 370px;
    max-height:500px;
  }

  .free-pro-item {
    display: flex;
    padding: 22px 0;
  }

  .free-pro-item + .free-pro-item {
    border-top:  1px solid #CCCCCC;
  }

  .cm-left-col {
    width: 95px;
  }

  .cm-right-col {
    width: calc(100% - 95px);
    padding-left: 15px;
    text-align: left;
  }

  .freeProducts-modal h3,.freeProducts-modal {
    font-size: 18px;
    line-height: 20px;
  }

  .swatch-item {
    height: 21px;
    width: 21px;
    font-size: 0;
    background: red;
    margin: 5px;
    cursor: pointer;
  }

  .swatch-listing {
    display: flex;
    flex-flow: wrap;
  }

  .cm-price {
    margin: 5px 0 10px;
  }

  .cm-price span.cm-val {
    text-decoration: line-through;
    margin-right: 5px;
  }

  span#close-free-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    height: 30px;
    width: 30px;
    background: transparent;
    cursor: pointer;
  }

  span#close-free-modal:after,span#close-free-modal:before {
    transform: rotate(45deg);
    position: absolute;
    height: 20px;
    width: 1px;
    background: #000;
    top: 50%;
    left: 50%;
    content: "";
    margin-top: -10px;
  }

  span#close-free-modal:after {
    transform: rotate(-45deg);
  }

  .freeProducts-modal h3 a {
    color: inherit;
  }

  .freeProducts-modal {
    max-width: 90%;
  }

  .freeProducts-modal > h3 {
    padding: 0 30px;
  }

  div#addFreeProduct {
    background: #eee;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  div#addFreeProduct:hover {
    background: #ccc;
  }

  div#addFreeProduct {
    background: #eee;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  div#addFreeProduct:hover {
    background: #ccc;
  }

  body.loader-on .drawer .line-items:after {content: "";position: absolute;top: 0;left: 0;height: 100%;width: 100%;background: #fff;opacity: 0.4;z-index: 999;background-image: url(https://cdn.shopify.com/s/files/1/1206/8416/files/dark-loader.gif);background-repeat: no-repeat;background-position: center;background-size: 40px auto;max-height: 42vh;}
  .cart-detail .line-items {
    position: relative;
  }

  span#editFreeProduct {
    background: #eee;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    /* font-weight: 700; */
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
    transition: all 0.3s ease;
    color: #000;
  }

  span#editFreeProduct:hover {
    background: #ccc;
  }

  .product-type-belt span.free-amount {
    text-decoration: line-through;
    margin-right: 5px;
  }

  .product-type-belt span.cm-option-label {
    height: 30px;
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    line-height: 20px;
    display: block;
    text-transform: uppercase;
    font-family: Univers-BoldCn;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }

  .product-type-belt .option-text .mobile + .mobile {
    display: none;
  }

  .product-type-belt .columns.options {
    position: relative;
    z-index: 9;
  }

  .product-type-belt .columns.options .column.is-5.size {
    position: absolute;
    right: 0;
    width: calc(100% - 150px);
  }

  .product-type-belt .size-option-listing {
    display: none;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
    margin-top: -3px;
    width: 100%;
    margin-bottom: 10px;
    max-width: 90%;
  }

  .product-type-belt .size-option-listing .size-option {
    width: 100% !important;
    display: block;
    margin: 3px 0;
  }

  .product-type-belt .size-option-listing .size-option label {
    width: 100% !important;
    margin: 0 !important;
    font-size: 16px !important;
    cursor: pointer;
  }

  .product-type-belt .size-option-listing .size-option label.selected {
    cursor: default;
  }

  .product-type-belt span.cm-option-label:after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 7px;
    right: 15px;
    border: 2px solid #4a4a4a;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    transform-origin: center;
  }

  .product-type-belt span.cm-option-label.clicked:after {
    transform: rotate(225deg);
    top: 12px;
  }

  .product-type-belt .column.controls .options .size-option-listing + .option-text {
    display: none;
  }

  .template-product:not(.product-type-belt) span.cm-option-label {
    display: none;
  }

  body.product-type-belt div#shopify-section-faq {
    display: none;
  }

  .cart-control button span.belt-default {
    display: none;
  }

  body.product-type-belt  .cart-control button span.default {
    display: none;
  }

  body.product-type-belt .cart-control button span.belt-default {
    display: block;
  }

  .product-type-belt .social-impact {
    display: none !important;
  }

  .product-type-belt .product-tab .ptab-social-impact img {
    max-height: none;
  }

  /*   .product-type-belt .body-content.ptab-overview .videos .columns + .columns {
  display: none;
  }

  .product-type-belt .body-content.ptab-overview .videos  img.icon.lazyloaded {
  display: none;
  }

  .product-type-belt .body-content.ptab-overview .videos p {
  display: none;
  } 

  .product-type-belt .product-tab .ptab-overview h2 {
  display: none;
  }

  .product-type-belt span.desktop.size-note {
  display: none;
  } */

  .product-type-belt span.cm-option-label {
    font-size: 0;
    text-align: center;
  }

  .product-type-belt span.cm-option-label span.selected-size {
    font-size: 16px;
    display: inline-block;
    margin-left: -8px;
  }

  body.ready-to-checkout:after {content: "";background-image: url('https://cdn.shopify.com/s/files/1/1206/8416/files/dark-loader.gif');position: fixed;top: 0;left: 0;height: 100%;z-index: 999;width: 100%;background-color: rgba(0,0,0,0.3);background-repeat: no-repeat;background-position: center;background-size: 100px auto;}

  .product-type-belt img.icon.lazyloaded:not([src]) {
    display: none;
  }

  .product-type-belt .product-swatch {
    max-width: 150px;
  }

  .product-type-belt .product .column.controls .options .size .option-text {
    padding: 0 5%;
    margin-bottom: 0px;
  }

  /*.product-type-belt*/
  .template-product .product .column.controls .price:before {
    content: "{{ product.selected_or_first_available_variant.compare_at_price| money_without_trailing_zeros }}";
      margin-right: 10px;
    text-decoration: line-through;
    opacity: 0.75;
  }

  body > h1 {
    display: none;
  }

  .product-type-belt .size-chart table.table+ table.table {
    display: none;
  }

  

  .product-type-belt .product-tab .ptab-social-impact .detail > h3:empty ,
  .product-type-belt .product-tab .ptab-social-impact .detail > h3:empty  + .divider, 
  .product-type-belt .product-tab .ptab-social-impact .detail > h3:empty ~ p:empty {
    display: none;
  }

  .product-type-belt .product .column.controls .promo {
    padding: 10px 0;
  }

  .product-type-belt .product .column.controls .promo.desktop h3:empty {
    display: none;
  }

  .product-type-belt .product-tab .ptab-overview .videos .column .icon {
    max-height: 50px;
    margin-bottom: 10px;
  }

  .overview-addition-content {
    max-width: 760px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 0 20px;
  }

  .overview-addition-content h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: neuzeitgroteskblack;
  }

  .overview-addition-content p {
    font-size: 17px;
    margin: 0 0 15px;
  }

  span.close-mega-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  span.close-mega-menu:after,
  span.close-mega-menu:before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 7px;
    margin-top: -1px;
    transform: rotate(-45deg);
  }

  span.close-mega-menu:before {
    transform: rotate(45deg);
  }

  span.free-amount {
    text-decoration: line-through;
  }

  .cm-recommended-products-wrapper {
/*     display:none; */
  }

  span.cm-crnt-price {
    display: block;
    width: 100%;
  }

  .cm-rec-pro-info {
    width: calc(75% - 15px);
  }

  .cm-recommended-products-wrapper > h3 {
    background: #2c8ffd;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  .recommended-products-listing {
    padding: 0 25px;
  }

  .cm-rec-pro-item + .cm-rec-pro-item {
    border-top: 1px solid #eee;
  }

  .cm-rec-pro-item {
    padding: 15px 0;
    display: flex;
  }

  .cm-rec-pro-img {
    width: 25%;
    margin-right: 15px;
  }

  .cm-rec-pro-info > h3,.cm-rec-pro-info > h6 {
    font-size: 13px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }

  .cm-rec-pro-info > h6 {
    font-size: 10px;
  }

  a.cm-btn {
    background: transparent;
    border: 2px solid #3273dc;
    padding: 5px;
    line-height: 1;
    border-radius: 5px;
    font-size: 12px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    display: block;
    width: 110px;
    margin-right: 0;
    margin-left: auto;
    margin-top: -15px;
    text-align: center;
  }

  .cm-rec-pro-item {
   	display:flex !important; 
  }
  
  @media (min-width:768px) {
    .product-type-belt  .body-content.ptab-overview .wrap {position: relative;overflow: hidden;}

    .product-type-belt  .body-content.ptab-overview .videos .wrap:after {
      width: 100%;
      padding-top: 57%;
      content: "";
      display: block;
    }

    .product-type-belt  .body-content.ptab-overview .videos .wrap video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: none;
      width: auto;
      height: 100%;
    }
  }
  
  @media (max-width:767px) {
    .product-type-belt  .column.controls .options .selected-swatch-text.mobile {
      float: none;
      width: 100%;
      clear: both;
      display: block;
    } 
    .product-type-belt .product-tab .ptab-details .size-chart .table td.gender {
      font-size: 15px;
      width: auto;
    }

    .product-type-belt .product-tab .ptab-details .size-chart .table td {
      font-size: 12px;
    }

    .product-type-belt .product-tab .ptab-overview .videos .column h3 {
      font-size: 20px;
    }

    .product-type-belt .product-tab .ptab-details .size-chart h3 {
      font-size: 20px;
    }

    .product-type-belt .product .column.controls .options .column:first-child {
      width: 180px;
    }

    .product-type-belt .columns.options .column.is-5.size {
      width: calc(100% - 190px);
    }

    .product-type-belt .product .column.controls .options .size .option-text:first-child {
      font-size: 0;
    }

    .product-type-belt .product .column.controls .options .size .option-text:first-child:before {
      content: "Size";
      font-size: 16px;
    }

    .cm-left-col {
      width: 65px;
    }

    .cm-right-col {
      width: calc(100% - 65px);
    }
  }
</style>
{% if product.tags contains "product-type-belt" %}
<div id="overview-addition-content" style="display:none;">
  <div class="overview-addition-content">
    <p>At Xpand we believe that your products should do
more for you.That’s why we reimagined the everyday
belt with new features and innovative design meant to
inspire you to move smarter.</p>
    <p>So, we set out to create a belt that’s more
comfortable, reliable, minimal, and compact.
Inspired by our successful patented lace anchor,
the first interchangeable elastic belt was born.
      Meet the <b>Explorer.</b></p>
    <h3>The belt that moves with you and works for you.</h3>
  </div>
</div>
<script>
  $(document).ready(function(){
    if($('.size-option-listing').length < 1) {
      $('.size-option').wrapAll('<div class="size-option-listing"></div>');
      $('<span class="cm-option-label"><span class="selected-size"></span></span>').insertBefore('.size-option-listing');
      $('.cart-control button span').text('Pre-Order');
    }
    
    function updateLabel(){
     $('.cm-option-label .selected-size').text($('.size-option-listing + div.option-text > span').text().replace('Size:','').trim()); 
    }
    updateLabel();
    $(document).click(function(e){
      //$('span.cm-option-label').removeClass('clicked');
      //$('.size-option-listing').slideUp(450);
      updateLabel();
    });
    $(document).on('click','.size-option label',function(e){
      e.stopPropagation();
      updateLabel();
      setTimeout(function(){
        updateLabel();
      },200);
      setTimeout(function(){
        updateLabel();
      },1000);
    });
    
    
    $(document).on('click','span.cm-option-label',function(e){
      e.stopPropagation();
      //$(this).toggleClass('clicked');
      //$(this).next('.size-option-listing').slideToggle(450);
      updateLabel();
    });
    
    function updateContentOfTab() {
      $('.size-chart table.table td.gender').text('Unisex');
      let txt = $('.product-highlights ul li:last-child p.text-desktop').html();
      $('.product-highlights ul li:last-child p.text-mobile').html(txt);
      let overviewAdditionContent = $('#overview-addition-content').html();
      $('.body-content.ptab-overview  .overview-addition-content').remove();
      $('.body-content.ptab-overview .videos').before(overviewAdditionContent);
      
    }
    updateContentOfTab();
    $(document).on('click','.product-tab ul li',function(){
      updateContentOfTab();
    });
    $(window).on('load',function(){
    updateContentOfTab();
    })
  })
</script>
{% endif %}

<script type="text/javascript">
  
  {% assign recommendedProductOne = all_products[settings.recommended_product_one] %}
  {% assign recommendedProductTwo = all_products[settings.recommended_product_two] %}
  {% assign recommendedProductThree = all_products[settings.recommended_product_three] %}
  var initialIndex = 0;
  window.recommendedProducts = [];
  {% if settings.recommended_product_one.size > 2 %}
  window.recommendedProducts[initialIndex] = { "title":"{{recommendedProductOne.title }}","url":"/products/{{recommendedProductOne.handle }}","type":"{{recommendedProductOne.type }}","image":"{{ recommendedProductOne.featured_image.src|img_url:small }}","price":"{{ recommendedProductOne.price| money_without_trailing_zeros }}" };
  {% endif %}  
  {% if settings.recommended_product_two.size > 2 %}
                                              initialIndex++;
  window.recommendedProducts[initialIndex] = { "title":"{{recommendedProductTwo.title }}","url":"/products/{{recommendedProductTwo.handle }}","type":"{{recommendedProductTwo.type }}","image":"{{ recommendedProductTwo.featured_image.src|img_url:small }}","price":"{{ recommendedProductTwo.price| money_without_trailing_zeros }}" };
  {% endif %}    
  {% if settings.recommended_product_three.size > 2 %}
                                              initialIndex++;
  window.recommendedProducts[initialIndex] = { "title":"{{recommendedProductThree.title }}","url":"/products/{{recommendedProductThree.handle }}","type":"{{recommendedProductThree.type }}","image":"{{ recommendedProductThree.featured_image.src|img_url:small }}","price":"{{ recommendedProductThree.price| money_without_trailing_zeros }}" };
  {% endif %}                                 
	window.recommendedProductsTitle = {"text":"{{ settings.recommended_title }}","color":"{{ settings.recommended_title_txt_color }}","bgColor":"{{ settings.recommended_title_bg_color }}"};
                                   
  {% assign shouldProductsForFreeProduct = "" %}
  {% if settings.offer_applied_product_1.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"'"|append:settings.offer_applied_product_1|append:"'" %}
  {% if settings.offer_applied_product_2.size > 2 or settings.offer_applied_product_3.size > 2 or settings.offer_applied_product_4.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"," %}
  {% endif %}
  {% endif %}
  
  {% if settings.offer_applied_product_2.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"'"|append:settings.offer_applied_product_2|append:"'" %}
  {% if settings.offer_applied_product_3.size > 2 or settings.offer_applied_product_4.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"," %}
  {% endif %}
  {% endif %}
  
  {% if settings.offer_applied_product_3.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"'"|append:settings.offer_applied_product_3|append:"'" %}
  {% if settings.offer_applied_product_4.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"," %}
  {% endif %}
  {% endif %}
  
  {% if settings.offer_applied_product_4.size > 2 %}
  {% assign shouldProductsForFreeProduct = shouldProductsForFreeProduct|append:"'"|append:settings.offer_applied_product_4|append:"'" %}
  {% endif %}
                                              
	window.cartSettings = {
		freeProduct :{
          products:{{ freeProducts }},
			messages:{
              upcoming:"{{ settings.cart_free_product_hint_text }}",
              success:"{{ settings.cart_free_product_applied_text }}"
			},
          shouldProducts:{{ validProductsForFreeProduct }},
          minProductsCount:{{ settings.cart_free_product_item_count }},
          active:{{ settings.enable_free_product }}
		},
		freeShipping :{
			messages:{
				upcoming:'You are {% raw %}{{quantity}}{% endraw %} pack away from free shipping!',
				success:'Congrats, you just received free shipping!'
			},
			minProductsCount:4
		},
		discoutsSettings: [
			{
			type: "ProductDiscount",
            products: {{productsForDiscount}},
			discount_tiers: {{ discountTiers|strip|replace:',]',']' }},
			discount_enabled: true,
			order_tag: null,
              title: "{{ settings.cart_discount_hint_group }}",
			discount_tier_type: "MinimumLineItemQuantityTier",
			show_discount_table: false,
			description:"You are {% raw %}{{quantity}}{% endraw %} pack away from {% raw %}{{discountPercentage}}{% endraw %}% off",
			discount_type: "fixed_amount",
			show_discounted_price: true,
			show_discount_value: true
			}
		]
	}
    
    $(document).ready(function(){
      var prevSwatchIndex = $('.swatch.selected').index();
      $('.product .product-swatch .swatch a').click(function(){
        $('.cart-control input[type=number][name="quantity"]').val(1);
//         var currentSwatchIndex = $(this).parent().index();
//         if(prevSwatchIndex != currentSwatchIndex) {
//           console.log('Swatch changes');
//           $('.cart-control input[type=number][name="quantity"]').val(1);
//           prevSwatchIndex = currentSwatchIndex;
//         }
      });
      
      var tier_1_line_qnty = {{ settings.tier_1_line_qnty }};
      var tier_2_line_qnty = {{ settings.tier_2_line_qnty }};
      var tier_3_line_qnty = {{ settings.tier_3_line_qnty }};
      var tier_4_line_qnty = {{ settings.tier_4_line_qnty }};
      var tier_1_dis_amount = {{ settings.tier_1_dis_amount| times: 100 | replace:'.0','' }};
      var tier_2_dis_amount = {{ settings.tier_2_dis_amount| times: 100 | replace:'.0','' }};
      var tier_3_dis_amount = {{ settings.tier_3_dis_amount| times: 100 | replace:'.0','' }};
      var tier_4_dis_amount = {{ settings.tier_4_dis_amount| times: 100 | replace:'.0','' }};
      var productsForDiscount = `{{ productsForDiscount }}`;
      
      function itemsInDiscountGroup(cartItems){
        var count = 0;
        cartItems.forEach(function(item){
          if(productsForDiscount.indexOf(item.product_id) > 0){
            count = count + item.quantity
          }
        });
        return count;
      }
      
      function getDiscountAmount(cartItems){
        var cm_itemsInDiscountGroup = itemsInDiscountGroup(cartItems);
		var cm_discountAmount = 0;
        if(tier_1_line_qnty > 0 && tier_1_dis_amount && cm_itemsInDiscountGroup >= tier_1_line_qnty ) {
          cm_discountAmount = tier_1_dis_amount
        }
        
        if(tier_2_line_qnty > 0 && tier_2_dis_amount && cm_itemsInDiscountGroup >= tier_2_line_qnty ) {
          cm_discountAmount = tier_2_dis_amount
        }
        
        if(tier_3_line_qnty > 0 && tier_3_dis_amount && cm_itemsInDiscountGroup >= tier_3_line_qnty ) {
          cm_discountAmount = tier_3_dis_amount
        }
        
        if(tier_4_line_qnty > 0 && tier_4_dis_amount && cm_itemsInDiscountGroup >= tier_4_line_qnty ) {
          cm_discountAmount = tier_4_dis_amount
        }
        return cm_discountAmount;
      }
      
      
      function shouldAddFreeProduct(cartItems){
        let relProCount = cartItems.reduce((acc, item) => {
          if (window.cartSettings.freeProduct.shouldProducts.indexOf(item.handle) > -1) {
            return acc + item.quantity;
          } else {
            return acc;
          }
        }, 0);
        if (window.cartSettings.freeProduct.active && relProCount >= window.cartSettings.freeProduct.minProductsCount) {
         return true; 
        }
        else {
         return false; 
        }
          
      }
      
      function fetchCartItems(discount) {
        let itmsDetail = [];
        window.currentItems.forEach(function(item){
          let lineId = item.id;
          let qnty = item.quantity;
          let discountAmount = item.total_discount;
          let original_line_price = item.original_line_price;
          if(original_line_price != discountAmount){
            if(discountAmount/qnty > discount){
              discountAmount = qnty*discount
            }
          	itmsDetail.push({lineId:lineId,qnty:qnty,discountAmount:discountAmount,original_line_price:original_line_price});
          }
          else {
            if(shouldAddFreeProduct(window.currentItems) === true) {
              itmsDetail.push({lineId:lineId,qnty:qnty,discountAmount:discountAmount,original_line_price:original_line_price});
            }
          }
        });
        return itmsDetail;
      }
      
      let addedToCart = 0;
      
      let freeShippingItemCount = {{ settings.cart_free_shipping_item_count }};
      let recommendedProList = document.querySelectorAll(".cm-rec-pro-item");
      if (recommendedProList.length > 0) {
        let cartHandles = [];
        window.currentItems.forEach(function(item, index) {
          let cartHandle = item.handle;
          cartHandles.push(cartHandle);
        });

        let proIndex = 0;
        (function showAllRecommendedProducts() {
          recommendedProList[proIndex].style.display = "flex";
          proIndex++;
          if (proIndex < recommendedProList.length) {
            showAllRecommendedProducts();
          }
        })();

        window.recommendedProducts.forEach(function(recItem, index) {
          let recItemHandle = recItem.url.replace("/products/", "");
          if (cartHandles.indexOf(recItemHandle) > -1) {
            recommendedProList[index].style.display = "none";
          }
        });
      }
      $(document).on('click','button#checkout',function(e){
        $('body').addClass('ready-to-checkout');
      	e.preventDefault();
        e.stopPropagation();
        
        async function getCartDetail(){
          
          var cartDetail = await $.getJSON('/cart.js')
		  var dicountAmnt = getDiscountAmount(cartDetail.items)
          let itmsDetail = fetchCartItems(dicountAmnt);
          let shouldAddFreeProduct2 = shouldAddFreeProduct(window.currentItems);
          moveAlong = function(){
            if(addedToCart<itmsDetail.length){
              let data = 'id='+ itmsDetail[addedToCart].lineId + '&quantity='+itmsDetail[addedToCart].qnty+'&properties[freeShippingItemCount]='+freeShippingItemCount;
              if(itmsDetail[addedToCart].discountAmount > 0) {
                data = data + '&properties[discountAmount]='+itmsDetail[addedToCart].discountAmount;
              }
              if(itmsDetail[addedToCart].discountAmount ==  itmsDetail[addedToCart].original_line_price) {
                data = data + '&properties[productType]=free';
              }
              $.ajax({
                type: 'POST',
                url: '/cart/add.js',
                dataType: 'json',
                data: data,
                success: function(res){
                  addedToCart++;
                  moveAlong();
                },
                error: function(res){
                  console.log(res);
                }
              });
            }
            else{
              window.location.href = '/cart/checkout';
            }
          }

          $.ajax({
              type: 'POST',
              url: '/cart/clear',
              success: function(res){
                moveAlong();
              },
              error: function(res){
                console.log(res);
              }
          });
          
          
          
        }
        getCartDetail();
        
        
      	});
  
    });
 
</script>
