<login>
  <template #title>
    <h1>{{ 'customer.login.title' | t }}</h1>
  </template>

  <template #login-box="{ toggleForgotPassword }">
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      <div class="field">
        <label for="CustomerEmail" class="label-hidden">
          {{ 'customer.login.email' | t }}
        </label>
        <input type="email"
               name="customer[email]"
               id="CustomerEmail"
               class="{% if form.errors contains 'email' %}input-error{% endif %} input"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               autofocus>
      </div>
      <div class="field">
        {% if form.password_needed %}
          <label for="CustomerPassword" class="label-hidden">
            {{ 'customer.login.password' | t }}
            {% if form.password_needed %}
              <a href="javascript:;" @click="toggleForgotPassword">{{ 'customer.login.forgot_password' | t }}</a>
            {% endif %}
          </label>

          <input type="password"
                 name="customer[password]"
                 id="CustomerPassword"
                 class="{% if form.errors contains 'password' %}input-error{% endif %} input">
        {% endif %}
      </div>
      <input type="submit" class="button" value="{{ 'customer.login.sign_in' | t }}">
      <p class="register">
        {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link }}
      </p>

      {% comment %}
        <a href="/">{{ 'customer.login.cancel' | t }}</a>
        <a href="/account/register">
          {{ 'layout.customer.create_account' | t }}
        </a>
      {% endcomment %}
    {% endform %}
  </template>

  <template #reset-password-box="{ toggleForgotPassword }">
    <h2>{{ 'customer.recover_password.title' | t }}</h2>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div class="field">
        <label for="RecoverEmail" class="label-hidden">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
               name="email"
               id="RecoverEmail"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               class="input">
      </div>

      <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>

      <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">

      <span class="or-cancel">or</span>

      <button type="button" class="cancel" @click="toggleForgotPassword">
        {{ 'customer.recover_password.cancel' | t }}
      </button>
    {% endform %}
  </template>
</login>
