<bottom-banner background-color="{{ section.settings.background_color }}">
  <template #title>
    <p class="promotion-title" style="color:{{ section.settings.text_color  }}">{{section.settings.title}}</p>
  </template>

  <template #items>
    {% for block in section.blocks %}
      <div class="column">
        <h5 style="color:{{ section.settings.text_color  }}">{{block.settings.title}}</h5>
        <span>{{block.settings.text}}</span>
      </div>
    {% endfor %}
  </template>
</bottom-banner>

{% schema %}
{
  "name": "Bottom Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#36807c"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bottom Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}