<section class="section featured-box">
  <div class="container">
    <div class="columns">
      {% comment %}Set font size and button width base on how many blocks is enabled through theme editor{% endcomment %}
      {%- assign blocks_enabled = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.settings.enable_block -%}
          {%- assign blocks_enabled = blocks_enabled | plus: 1 -%}
        {%- endif -%}
      {%- endfor -%}

      {% if blocks_enabled == 4 %}
        {% assign font_size = 18 %}
        {% assign btn_font_size = 12 %}
      {% elsif blocks_enabled == 3 %}
        {% assign font_size = 22 %}
        {% assign btn_font_size = 14 %}
      {% else %}
        {% assign font_size = 28 %}
        {% assign btn_font_size = 16 %}
      {% endif %}

      {% comment %}Have to use this workaround because vue doesn't parse <style> element{% endcomment %}
      <component is="style" style="display: none;">
        @media screen and (min-width: 769px) {
          .featured-box .item .head h3 {
            font-size: {{font_size}}px;
            line-height: {{font_size | plus: 6}}px;
          }

          .featured-box .item .foot a {
            font-size: {{btn_font_size}}px;
          }
        }
      </component>

      {% for block in section.blocks %}
        {% if block.settings.enable_block %}
          <div class="column">
            <div class="item">
              <div class="head">
                <h3 style="color: {{block.settings.title_color}};">{{ block.settings.title }}</h3>
              </div>

              <img class="image lazyload" src="{{ block.settings.image | img_url: 'master' }}">

              <div class="foot">
                <a class="button" href="{{ block.settings.link }}" style="{%- if block.settings.link_bg_color -%}background-color: {{block.settings.link_bg_color}};border-color: {{block.settings.link_bg_color}};{%- endif -%}{%- if block.settings.link_text_color -%}color: {{block.settings.link_text_color}};{%- endif -%}">{{ block.settings.link_text }}</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Box",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "box",
      "name": "Box",
      "settings": [
        {
          "type":"checkbox",
          "id":"enable_block",
          "label":"Enable Box",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#333333"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "color",
          "id": "link_text_color",
          "label": "Link Text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "link_bg_color",
          "label": "Link Background Color",
          "default": "#0090fc"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Box",
      "category": "Image"
    }
  ]
}
{% endschema %}