<footer>
  <div class="go-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve"><polygon fill="#010101" points="22.4,64.1 50.8,36.5 79.3,64.1 80.8,63.2 50.8,34.1 20.8,63.2 22.4,64.1 "/></svg>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column logo">
        <img
          class="lazyload"
          data-srcset="{{ section.settings.logo | img_url: '200x' }} 200w,
                  {{ section.settings.logo | img_url: '100x' }} 100w,
                  {{ section.settings.logo | img_url: '50x' }} 50w"
          data-src="{{ section.settings.logo | img_url: '100x' }}"
          alt="{{ shop.name | escape }}"
        >
      </div>

      {% for block in section.blocks %}
        {% if block.type == 'link_column' %}
          <div class="column link">
            <h6>{{ linklists[block.settings.link_list].title }}</h6>

            <ul>
              {% for link in linklists[block.settings.link_list].links %}
                <li>
                  <a class="navbar-item" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if block.type == 'newsletter_column' %}
          <div class="column newsletter">
            <h6>{{ block.settings.title }}</h6>

            <form action="{{ block.settings.action_url }}"  target="_blank">
              <input type="hidden" name="g" value="NDrWDc">
              <input type="email" name="email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
              <button type="submit" class="button">{{ block.settings.button_text }}</button>
            </form>

            <ul class="social-icons">
              {% if settings.social_instagram_link != blank %}
                <li><a href="{{ settings.social_instagram_link }}"target="_blank" class="icon-instagram"></a></li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li><a href="{{ settings.social_facebook_link }}" target="_blank" class="icon-facebook"></a></li>
              {% endif %}

              {% if settings.social_twitter_link != blank %}
                <li><a href="{{ settings.social_twitter_link }}" target="_blank" class="icon-twitter"></a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}

      <div class="clearfix"></div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      {% if section.settings.bottom_links != blank %}
        <ul>
          <li>
            &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
          </li>
          {% for link in linklists[section.settings.bottom_links].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "link_list",
        "id": "bottom_links",
        "label": "Bottom Links"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "link_column",
        "name": "Link Column",
        "settings": [
          {
            "type": "link_list",
            "id": "link_list",
            "label": "Link List"
          }
        ]
      },
      {
        "type": "newsletter_column",
        "name": "Newsletter Column",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "action_url",
            "label": "Newsletter URL"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "link_column"
        },
        {
          "type": "link_column"
        },
        {
          "type": "link_column"
        },
        {
          "type": "newsletter_column"
        }
      ]
    }
  }

{% endschema %}
