<section class="section newsletter">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <p>{{ section.settings.text | escape }}</p>
    {% endif %}

    {% if section.settings.action_url != blank %}
      <form action="{{ section.settings.action_url }}" method="POST" target="_blank">
        <input type="hidden" name="g" value="NDrWDc">
        <input type="email" name="email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">

        <button type="submit" class="button" name="subscribe" style="{%- if section.settings.button_bg_color -%}background-color: {{section.settings.button_bg_color}};border-color: {{section.settings.button_bg_color}};{%- endif -%}{%- if section.settings.button_text_color -%}color: {{section.settings.button_text_color}};{%- endif -%}">
          {{ section.settings.button_text }}
        </button>
      </form>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SUBMIT"
      },
      {
        "type": "text",
        "id": "action_url",
        "label": "Newsletter URL",
        "default": "//manage.kmail-lists.com/subscriptions/subscribe"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Background Color",
        "default": "#008ffd"
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Form"
      }
    ]
  }
{% endschema %}
