{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% assign variant_selected = product.selected_or_first_available_variant %}
{% assign image_identifier = variant_selected.title | remove: ' ' | downcase %}

<section class="section product">
  <div class="container">
    {% capture imageGroupData %}
      {% for image in product.images %}
        {{image.id}}`~`{{image.alt}}`~`{{image | img_url: '80x'}}`~`{{image | img_url: '600x'}}`~~`
      {% endfor %}
    {% endcapture %}

    {% assign prefix = product.type | split: ' ' | first | downcase | append: '-' %}
    {% capture variantsData %}
      {% for variant in product.variants %}
        {% if variant.inventory_quantity > 0 and variant.available %}
          {% assign swatch_filename = variant.title | downcase | replace: ' ', '-' | prepend: prefix | append: '.png' %}

          {{variant.id}}`~`{{variant.title}}`~`{{variant.price | money}}`~`{{swatch_filename | asset_img_url: '40x' }}`~`{{variant.image.id}}`~`{{variant.image.alt}}`~`{{variant.image | img_url: '80x'}}`~`{{variant.image | img_url: '600x'}}`~~`
        {% endif %}
      {% endfor %}
    {% endcapture %}

    <product-form raw-image-group-data="{{imageGroupData}}" raw-variants-data="{{variantsData}}" default-variant-id="{{variant_selected.id}}" loading-gif-url="{{ 'loader.gif' | asset_url }}">
      <template #brief>
        <h1>{{product.title}}</h1>
      </template>

      <template #stamped-review-mobile>
        <span class="mobile only-mobile stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}">{{ product.metafields.stamped.badge }}</span>
      </template>

      <template #stamped-review-desktop>
        <span class="desktop stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" >{{ product.metafields.stamped.badge }}</span>
      </template>

      <template #price-note-mobile>
        <span class="price-note mobile">{{section.settings.price_note_mobile}}</span>
      </template>

      <template #price-note-desktop>
        <span class="price-note desktop">{{section.settings.price_note_desktop}}</span>
      </template>

      <template #promo>
        <h3>{{section.settings.promo_title}}</h3>

        <div class="text">
          <p>{{section.settings.promo_one}}</p>
          <p>{{section.settings.promo_two}}</p>
          <p>{{section.settings.promo_three}}</p>
        </div>

        <div class="code">
          <p>{{section.settings.code_one}}</p>
          <p>{{section.settings.code_two}}</p>
          <p>{{section.settings.code_three}}</p>
        </div>
      </template>

      <template #shoes-types-desktop>
        <div class="shoes-types desktop">
          <ul>
            <li>{{ 'running.svg' | asset_url | img_tag }}<span>Running</span></li>
            <li>{{ 'walking.svg' | asset_url | img_tag }}<span>Walking</span></li>
            <li>{{ 'biking.svg' | asset_url | img_tag }}<span>Biking</span></li>
            <li>{{ 'hiking.svg' | asset_url | img_tag }}<span>Hiking</span></li>
            <li>{{ 'sport.svg' | asset_url | img_tag }}<span>Sports</span></li>
            <li>{{ 'marathon.svg' | asset_url | img_tag }}<span>Marathons</span></li>
            <li>{{ 'kids.svg' | asset_url | img_tag }}<span>Kids</span></li>
          </ul>
        </div>
      </template>

      <template #shoes-types-mobile>
        <div class="shoes-types mobile">
          <ul>
            <li>{{ 'running.svg' | asset_url | img_tag }}<span>Running</span></li>
            <li>{{ 'walking.svg' | asset_url | img_tag }}<span>Walking</span></li>
            <li>{{ 'biking.svg' | asset_url | img_tag }}<span>Biking</span></li>
            <li>{{ 'hiking.svg' | asset_url | img_tag }}<span>Hiking</span></li>
            <li>{{ 'sport.svg' | asset_url | img_tag }}<span>Sports</span></li>
            <li>{{ 'marathon.svg' | asset_url | img_tag }}<span>Marathons</span></li>
            <li>{{ 'kids.svg' | asset_url | img_tag }}<span>Kids</span></li>
          </ul>
        </div>
      </template>
    </product-form>
  </div>
</section>

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Pricing"
      },
      {
        "type": "text",
        "id": "price_note_desktop",
        "label": "Price Note (Desktop)"
      },
      {
        "type": "text",
        "id": "price_note_mobile",
        "label": "Price Note (Mobile)"
      },
      {
        "type": "header",
        "content": "Promo"
      },
      {
        "type": "text",
        "id": "promo_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "promo_one",
        "label": "Promo 1",
        "default": "3 FOR $25"
      },
      {
        "type": "text",
        "id": "promo_two",
        "label": "Promo 2",
        "default": "6 FOR $35"
      },
      {
        "type": "text",
        "id": "promo_three",
        "label": "Promo 3",
        "default": "8 FOR $45"
      },
      {
        "type": "text",
        "id": "code_one",
        "label": "Code 1"
      },
      {
        "type": "text",
        "id": "code_two",
        "label": "Code 2",
        "default": "CODE: 6for35"
      },
      {
        "type": "text",
        "id": "code_three",
        "label": "Code 3",
        "default": "CODE: 8for45"
      }
    ]
  }
{% endschema %}
