{% assign variant_selected = product.selected_or_first_available_variant %}
{% assign image_identifier = variant_selected.title | remove: ' ' | downcase %}

<section class="section product">  
  <div class="container">
    {% capture imageGroupData %}
      {% for image in product.images %}
        {{image.id}}`~`{{image.alt}}`~`{{image | img_url: '80x'}}`~`{{image | img_url: '600x'}}`~~`
      {% endfor %}
    {% endcapture %}

    {% assign prefix = product.type | split: ' ' | first | downcase | append: '-' %}
    {% capture variantsData %}
      {% for variant in product.variants %}
        {% if variant.inventory_quantity > 0 and variant.available %}
          {% assign swatch_filename = variant.title | downcase | replace: ' ', '-' | prepend: prefix | append: '.png' %}

          {{variant.id}}`~`{{variant.title}}`~`{{variant.price | money}}`~`{{swatch_filename | asset_img_url: '40x' }}`~`{{variant.image.id}}`~`{{variant.image.alt}}`~`{{variant.image | img_url: '80x'}}`~`{{variant.image | img_url: '600x'}}`~~`
        {% endif %}
      {% endfor %}
    {% endcapture %}

    <div id="loading-placeholder" style="min-height: 1200px;">
    </div>

    <product-form raw-image-group-data="{{imageGroupData}}" raw-variants-data="{{variantsData}}" default-variant-id="{{variant_selected.id}}" loading-gif-url="{{ 'loader.gif' | asset_url }}" atc-text-color="{{section.settings.atc_text_color}}" atc-bg-color="{{section.settings.atc_bg_color}}">
      <template #brief>
        <h1>{{product.title}}</h1>
      </template>

      <template #stamped-review-mobile>
        <span class="mobile only-mobile stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}">{{ product.metafields.stamped.badge }}</span>
      </template>

      <template #stamped-review-desktop>
        <span class="desktop stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-sku="{{ product.handle }}" >{{ product.metafields.stamped.badge }}</span>
      </template>

      <template #price-note-mobile>
        <span class="price-note mobile">{{section.settings.price_note_mobile}}</span>
      </template>

      <template #price-note-desktop>
        <span class="price-note desktop">{{section.settings.price_note_desktop}}</span>
      </template>

      <template #promo>
        <h3>{{section.settings.promo_title}}</h3>

        <div class="text">
          {{section.settings.promo_one}}{{section.settings.promo_two}}{{section.settings.promo_three}}
        </div>

          <div class="code">
            {%- if section.settings.code_one != blank -%}
              <p>{{section.settings.code_one}}</p>
            {%- endif -%}

            {%- if section.settings.code_two != blank -%}
              <p>{{section.settings.code_two}}</p>
            {%- endif -%}

            {%- if section.settings.code_three != blank -%}
              <p>{{section.settings.code_three}}</p>
            {%- endif -%}
          </div>
      </template>

      <template #shoes-types-desktop>
        <div class="shoes-types desktop">
          <ul>
            <li><img class="lazyload" data-src="{{ 'running.svg' | asset_url }}"><span>Running</span></li>
            <li><img class="lazyload" data-src="{{ 'walking.svg' | asset_url }}"><span>Walking</span></li>
            <li><img class="lazyload" data-src="{{ 'biking.svg' | asset_url }}"><span>Biking</span></li>
            <li><img class="lazyload" data-src="{{ 'hiking.svg' | asset_url }}"><span>Hiking</span></li>
            <li><img class="lazyload" data-src="{{ 'sport.svg' | asset_url }}"><span>Sports</span></li>
            <li><img class="lazyload" data-src="{{ 'marathon.svg' | asset_url }}"><span>Marathons</span></li>
            <li><img class="lazyload" data-src="{{ 'kids.svg' | asset_url }}"><span>Kids</span></li>
          </ul>
        </div>
      </template>

      <template #shoes-types-mobile>
        <div class="shoes-types mobile">
          <ul>
            <li><img class="lazyload" data-src="{{ 'running.svg' | asset_url }}"><span>Running</span></li>
            <li><img class="lazyload" data-src="{{ 'walking.svg' | asset_url }}"><span>Walking</span></li>
            <li><img class="lazyload" data-src="{{ 'biking.svg' | asset_url }}"><span>Biking</span></li>
            <li><img class="lazyload" data-src="{{ 'hiking.svg' | asset_url }}"><span>Hiking</span></li>
            <li><img class="lazyload" data-src="{{ 'sport.svg' | asset_url }}"><span>Sports</span></li>
            <li><img class="lazyload" data-src="{{ 'marathon.svg' | asset_url }}"><span>Marathons</span></li>
            <li><img class="lazyload" data-src="{{ 'kids.svg' | asset_url }}"><span>Kids</span></li>
          </ul>
        </div>
      </template>
    </product-form>
  </div>
</section>

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Pricing"
      },
      {
        "type": "text",
        "id": "price_note_desktop",
        "label": "Price Note (Desktop)"
      },
      {
        "type": "text",
        "id": "price_note_mobile",
        "label": "Price Note (Mobile)"
      },
      {
        "type": "header",
        "content": "Form"
      },
      {
        "type": "color",
        "id": "atc_text_color",
        "label": "Add to cart Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "atc_bg_color",
        "label": "Add to cart Background Color",
        "default": "#008ffd"
      },
      {
        "type": "header",
        "content": "Promo"
      },
      {
        "type": "text",
        "id": "promo_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "promo_one",
        "label": "Promo 1",
        "default": "<p>3 FOR $25</p>"
      },
      {
        "type": "richtext",
        "id": "promo_two",
        "label": "Promo 2",
        "default": "<p>6 FOR $35</p>"
      },
      {
        "type": "richtext",
        "id": "promo_three",
        "label": "Promo 3",
        "default": "<p>8 FOR $45</p>"
      },
      {
        "type": "text",
        "id": "code_one",
        "label": "Code 1"
      },
      {
        "type": "text",
        "id": "code_two",
        "label": "Code 2",
        "default": "CODE: 6for35"
      },
      {
        "type": "text",
        "id": "code_three",
        "label": "Code 3",
        "default": "CODE: 8for45"
      }
    ]
  }
{% endschema %}
