{% assign product_prefix = product.type | split: ' ' | first | downcase %}

<section class="product-tab">
  <tab-content>
    <template #head="{ selectTab, activeTab }">
      <div class="container">
        <ul class="columns is-mobile">
          {% for block in section.blocks %}
            <li @click="selectTab" id="tab-{{forloop.index}}" class="column" :class="{ active: activeTab === 'tab-{{forloop.index}}' }">
              {{ block.settings.name }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </template>

    <template #body="{ activeTab }">
      {% for block in section.blocks %}
        <transition name="fade">
          <div v-if="activeTab === 'tab-{{forloop.index}}'" class="body-content {{block.type}}">
            {% if block.type == 'about' %}
              <div class="container">
                {% if product_prefix == 'flat' and block.settings.flat_top_video_url != blank %}
                  <div class="top-video">
                    <video preload="none" autoplay="" loop="loop" muted playsinline>
                      <source src="{{block.settings.flat_top_video_url}}" type="video/mp4">
                    </video>
                  </div>
                {% endif %}

                {% if product_prefix == 'round' and block.settings.round_top_video_url != blank %}
                  <div class="top-video">
                    <video preload="none" autoplay="" loop="loop" muted playsinline>
                      <source src="{{block.settings.round_top_video_url}}" type="video/mp4">
                    </video>
                  </div>
                {% endif %}

                <h2>{{block.settings.title}}</h2>

                <div class="videos">
                  <div class="columns">
                    <div class="column">
                      <video preload="none" autoplay="" loop="loop" muted playsinline>
                        {% if product_prefix == 'flat' and block.settings.flat_video1_url %}
                          <source src="{{block.settings.flat_video1_url}}" type="video/mp4">
                        {% endif %}

                        {% if product_prefix == 'round' and block.settings.round_video1_url %}
                          <source src="{{block.settings.round_video1_url}}" type="video/mp4">
                        {% endif %}
                      </video>

                      {% if product_prefix == 'flat' and block.settings.flat_video1_text %}
                        <p>{{block.settings.flat_video1_text}}</p>
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_video1_text %}
                        <p>{{block.settings.round_video1_text}}</p>
                      {% endif %}
                    </div>

                    <div class="column">
                      <video preload="none" autoplay="" loop="loop" muted playsinline>
                        {% if product_prefix == 'flat' and block.settings.flat_video1_url %}
                          <source src="{{block.settings.flat_video2_url}}" type="video/mp4">
                        {% endif %}

                        {% if product_prefix == 'round' and block.settings.round_video1_url %}
                          <source src="{{block.settings.round_video2_url}}" type="video/mp4">
                        {% endif %}
                      </video>

                      {% if product_prefix == 'flat' and block.settings.flat_video2_text %}
                        <p>{{block.settings.flat_video2_text}}</p>
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_video2_text %}
                        <p>{{block.settings.round_video2_text}}</p>
                      {% endif %}
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column">
                      <video preload="none" autoplay="" loop="loop" muted playsinline{% if product_prefix == 'flat' %} class="v3fix"{% endif %}{% if product_prefix == 'round' %} class="round-v3fix"{% endif %}>
                        {% if product_prefix == 'flat' and block.settings.flat_video1_url %}
                          <source src="{{block.settings.flat_video3_url}}" type="video/mp4">
                        {% endif %}

                        {% if product_prefix == 'round' and block.settings.round_video1_url %}
                          <source src="{{block.settings.round_video3_url}}" type="video/mp4">
                        {% endif %}
                      </video>

                      {% if product_prefix == 'flat' and block.settings.flat_video3_text %}
                        <p>{{block.settings.flat_video3_text}}</p>
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_video3_text %}
                        <p>{{block.settings.round_video3_text}}</p>
                      {% endif %}
                    </div>

                    <div class="column">
                      <video preload="none" autoplay="" loop="loop" muted playsinline>
                        {% if product_prefix == 'flat' and block.settings.flat_video1_url %}
                          <source src="{{block.settings.flat_video4_url}}" type="video/mp4">
                        {% endif %}

                        {% if product_prefix == 'round' and block.settings.round_video1_url %}
                          <source src="{{block.settings.round_video4_url}}" type="video/mp4">
                        {% endif %}
                      </video>

                      {% if product_prefix == 'flat' and block.settings.flat_video4_text %}
                        <p>{{block.settings.flat_video4_text}}</p>
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_video4_text %}
                        <p>{{block.settings.round_video4_text}}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="highlights">
                <div class="container">
                  <div class="columns">
                    <div class="column text">
                      {% if product_prefix == 'flat' and block.settings.flat_highlight1_title %}
                        <p class="caption">{{block.settings.flat_highlight1_caption}}</p>
                        <h3>{{block.settings.flat_highlight1_title}}</h3>
                        {{block.settings.flat_highlight1_text}}
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_highlight1_title %}
                        <p class="caption">{{block.settings.round_highlight1_caption}}</p>
                        <h3>{{block.settings.round_highlight1_title}}</h3>
                        <p>{{block.settings.round_highlight1_text}}</p>
                      {% endif %}
                    </div>

                    <div class="column media">
                      {% if product_prefix == 'flat' %}
                        {% if block.settings.flat_highlight1_type == 'image' and block.settings.flat_highlight1_image %}
                          <img class="lazyload" data-src="{{block.settings.flat_highlight1_image | img_url: 'master'}}">
                        {% endif %}

                        {% if block.settings.flat_highlight1_type == 'video' and block.settings.flat_highlight1_video_url %}
                          <video preload="none" autoplay="" loop="loop" muted playsinline>
                            <source src="{{block.settings.flat_highlight1_video_url}}" type="video/mp4">
                          </video>
                        {% endif %}
                      {% endif %}

                      {% if product_prefix == 'round' %}
                        {% if block.settings.round_highlight1_type == 'image' and block.settings.round_highlight1_image %}
                          <img class="lazyload" data-src="{{block.settings.round_highlight1_image | img_url: 'master'}}">
                        {% endif %}

                        {% if block.settings.round_highlight1_type == 'video' and block.settings.round_highlight1_video_url %}
                          <video preload="none" autoplay="" loop="loop" muted playsinline>
                            <source src="{{block.settings.round_highlight1_video_url}}" type="video/mp4">
                          </video>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column text">
                      {% if product_prefix == 'flat' and block.settings.flat_highlight2_title %}
                        <p class="caption">{{block.settings.flat_highlight2_caption}}</p>
                        <h3>{{block.settings.flat_highlight2_title}}</h3>
                        {{block.settings.flat_highlight2_text}}
                      {% endif %}

                      {% if product_prefix == 'round' and block.settings.round_highlight2_title %}
                        <p class="caption">{{block.settings.round_highlight2_caption}}</p>
                        <h3>{{block.settings.round_highlight2_title}}</h3>
                        <p>{{block.settings.round_highlight2_text}}</p>
                      {% endif %}
                    </div>

                    <div class="column media">
                      {% if product_prefix == 'flat' %}
                        {% if block.settings.flat_highlight2_type == 'image' and block.settings.flat_highlight2_image %}
                          <img class="lazyload" data-src="{{block.settings.flat_highlight2_image | img_url: 'master'}}">
                        {% endif %}

                        {% if block.settings.flat_highlight2_type == 'video' and block.settings.flat_highlight2_video_url %}
                          <video preload="none" autoplay="" loop="loop" muted playsinline>
                            <source src="{{block.settings.flat_highlight2_video_url}}" type="video/mp4">
                          </video>
                        {% endif %}
                      {% endif %}

                      {% if product_prefix == 'round' %}
                        {% if block.settings.round_highlight2_type == 'image' and block.settings.round_highlight2_image %}
                          <img class="lazyload" data-src="{{block.settings.round_highlight2_image | img_url: 'master'}}">
                        {% endif %}

                        {% if block.settings.round_highlight2_type == 'video' and block.settings.round_highlight2_video_url %}
                          <video preload="none" autoplay="" loop="loop" muted playsinline>
                            <source src="{{block.settings.round_highlight2_video_url}}" type="video/mp4">
                          </video>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if block.type == 'specs' %}
              <div class="container">
                <div class="columns">
                  <div class="column is-4 text">
                    {% if product_prefix == 'flat' %}
                      <h3>{{ block.settings.flat_title }}</h3>
                      {{ block.settings.flat_description }}
                    {% endif %}

                    {% if product_prefix == 'round' %}
                      <h3>{{ block.settings.round_title }}</h3>
                      {{ block.settings.round_description }}
                    {% endif %}
                  </div>

                  <div class="column is-8 media">
                    {% if product_prefix == 'flat' %}
                      <img class="lazyload" data-src="{{block.settings.flat_image | img_url: 'master'}}">
                    {% endif %}

                    {% if product_prefix == 'round' %}
                      <img class="lazyload" data-src="{{block.settings.round_image | img_url: 'master'}}">
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}

            {% if block.type == 'reviews' %}
              <div class="container">
                <!--Start Stamped.io Auto Installation-->
                <div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-photo-summary="false" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}">{{ product.metafields.stamped.reviews }}</div>
                <!--End Stamped.io Auto Installation-->
              </div>
            {% endif %}

            {% if block.type == 'installation' %}
              <div class="container">
                <div class="videos">
                  {% if product_prefix == 'flat' and block.settings.flat_video1_url != blank %}
                    <div class="video">
                      <iframe class="lazyload" data-src="{{block.settings.flat_video1_url | replace: 'watch?v=', 'embed/'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  {% endif %}

                  {% if product_prefix == 'flat' and block.settings.flat_video2_url != blank %}
                    <div class="video">
                      <iframe class="lazyload" data-src="{{block.settings.flat_video2_url | replace: 'watch?v=', 'embed/'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  {% endif %}

                  {% if product_prefix == 'round' and block.settings.round_video1_url != blank %}
                    <div class="video">
                      <iframe class="lazyload" data-src="{{block.settings.round_video1_url | replace: 'watch?v=', 'embed/'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  {% endif %}

                  {% if product_prefix == 'round' and block.settings.round_video2_url != blank %}
                    <div class="video">
                      <iframe class="lazyload" data-src="{{block.settings.round_video2_url | replace: 'watch?v=', 'embed/'}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </transition>
      {% endfor %}
    </template>
  </tab-content>
</section>

{% schema %}
  {
    "name": "Product Tab",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "about",
        "name": "About",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "header",
            "content": "Flat Lacing System"
          },
          {
            "type": "text",
            "id": "flat_top_video_url",
            "label": "Top Video URL"
          },
          {
            "type": "text",
            "id": "flat_video1_url",
            "label": "Video #1 URL"
          },
          {
            "type": "text",
            "id": "flat_video1_text",
            "label": "Video #1 Text"
          },
          {
            "type": "text",
            "id": "flat_video2_url",
            "label": "Video #2 URL"
          },
          {
            "type": "text",
            "id": "flat_video2_text",
            "label": "Video #2 Text"
          },
          {
            "type": "text",
            "id": "flat_video3_url",
            "label": "Video #3 URL"
          },
          {
            "type": "text",
            "id": "flat_video3_text",
            "label": "Video #3 Text"
          },
          {
            "type": "text",
            "id": "flat_video4_url",
            "label": "Video #4 URL"
          },
          {
            "type": "text",
            "id": "flat_video4_text",
            "label": "Video #4 Text"
          },
          {
            "type": "header",
            "content": "Highlight #1"
          },
          {
            "type": "radio",
            "id": "flat_highlight1_type",
            "label": "Enable",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "video", "label": "Video" }
            ],
            "default":   "image"
          },
          {
            "type": "text",
            "id": "flat_highlight1_title",
            "label": "Highlight #1 Title"
          },
          {
            "type": "text",
            "id": "flat_highlight1_caption",
            "label": "Highlight #1 Caption"
          },
          {
            "type": "richtext",
            "id": "flat_highlight1_text",
            "label": "Highlight #1 Text"
          },
          {
            "type": "image_picker",
            "id": "flat_highlight1_image",
            "label": "Highlight #1 Image"
          },
          {
            "type": "text",
            "id": "flat_highlight1_video_url",
            "label": "Highlight #1 Video URL"
          },
          {
            "type": "header",
            "content": "Highlight #2"
          },
          {
            "type": "radio",
            "id": "flat_highlight2_type",
            "label": "Enable",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "video", "label": "Video" }
            ],
            "default":   "image"
          },
          {
            "type": "text",
            "id": "flat_highlight2_title",
            "label": "Highlight #2 Title"
          },
          {
            "type": "text",
            "id": "flat_highlight2_caption",
            "label": "Highlight #2 Caption"
          },
          {
            "type": "richtext",
            "id": "flat_highlight2_text",
            "label": "Highlight #2 Text"
          },
          {
            "type": "image_picker",
            "id": "flat_highlight2_image",
            "label": "Highlight #2 Image"
          },
          {
            "type": "text",
            "id": "flat_highlight2_video_url",
            "label": "Highlight #2 Video URL"
          },
          {
            "type": "header",
            "content": "Round Lacing System"
          },
          {
            "type": "text",
            "id": "round_top_video_url",
            "label": "Top Video URL"
          },
          {
            "type": "text",
            "id": "round_video1_url",
            "label": "Video #1 URL"
          },
          {
            "type": "text",
            "id": "round_video1_text",
            "label": "Video #1 Text"
          },
          {
            "type": "text",
            "id": "round_video2_url",
            "label": "Video #2 URL"
          },
          {
            "type": "text",
            "id": "round_video2_text",
            "label": "Video #2 Text"
          },
          {
            "type": "text",
            "id": "round_video3_url",
            "label": "Video #3 URL"
          },
          {
            "type": "text",
            "id": "round_video3_text",
            "label": "Video #3 Text"
          },
          {
            "type": "text",
            "id": "round_video4_url",
            "label": "Video #4 URL"
          },
          {
            "type": "text",
            "id": "round_video4_text",
            "label": "Video #4 Text"
          },
          {
            "type": "header",
            "content": "Highlight #1"
          },
          {
            "type": "radio",
            "id": "round_highlight1_type",
            "label": "Enable",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "video", "label": "Video" }
            ],
            "default":   "image"
          },
          {
            "type": "text",
            "id": "round_highlight1_title",
            "label": "Highlight #1 Title"
          },
          {
            "type": "text",
            "id": "round_highlight1_caption",
            "label": "Highlight #1 Caption"
          },
          {
            "type": "richtext",
            "id": "round_highlight1_text",
            "label": "Highlight #1 Text"
          },
          {
            "type": "image_picker",
            "id": "round_highlight1_image",
            "label": "Highlight #1 Image"
          },
          {
            "type": "text",
            "id": "round_highlight1_video_url",
            "label": "Highlight #1 Video URL"
          },
          {
            "type": "header",
            "content": "Highlight #2"
          },
          {
            "type": "radio",
            "id": "round_highlight2_type",
            "label": "Enable",
            "options": [
              { "value": "image", "label": "Image" },
              { "value": "video", "label": "Video" }
            ],
            "default":   "image"
          },
          {
            "type": "text",
            "id": "round_highlight2_title",
            "label": "Highlight #2 Title"
          },
          {
            "type": "text",
            "id": "round_highlight2_caption",
            "label": "Highlight #2 Caption"
          },
          {
            "type": "richtext",
            "id": "round_highlight2_text",
            "label": "Highlight #2 Text"
          },
          {
            "type": "image_picker",
            "id": "round_highlight2_image",
            "label": "Highlight #2 Image"
          },
          {
            "type": "text",
            "id": "round_highlight2_video_url",
            "label": "Highlight #2 Video URL"
          }
        ]
      },
      {
        "type": "specs",
        "name": "Specs",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "type": "header",
            "content": "Flat Lacing System"
          },
          {
            "type": "text",
            "id": "flat_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "flat_description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "flat_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Round Lacing System"
          },
          {
            "type": "text",
            "id": "round_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "round_description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "round_image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "reviews",
        "name": "Reviews",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          }
        ]
      },
      {
        "type": "installation",
        "name": "Installation",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          },
          {
            "type": "header",
            "content": "Flat Lacing System"
          },
          {
            "type": "text",
            "id": "flat_video1_url",
            "label": "Video #1 URL"
          },
          {
            "type": "text",
            "id": "flat_video2_url",
            "label": "Video #2 URL"
          },
          {
            "type": "header",
            "content": "Round Lacing System"
          },
          {
            "type": "text",
            "id": "round_video1_url",
            "label": "Video #1 URL"
          },
          {
            "type": "text",
            "id": "round_video2_url",
            "label": "Video #2 URL"
          }
        ]
      }
    ]
  }
{% endschema %}
