<section class="section text-banner">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      {{ section.settings.text }}
    {% endif %}

    {% if section.settings.primary_cta_text != blank %}
      <p class="primary-cta">
        <a class="button" href="{{ section.settings.primary_cta_link }}" style="{%- if section.settings.primary_cta_bg_color -%}background-color: {{section.settings.primary_cta_bg_color}};border-color: {{section.settings.primary_cta_bg_color}};{%- endif -%}{%- if section.settings.primary_cta_text_color -%}color: {{section.settings.primary_cta_text_color}};{%- endif -%}">
          {{ section.settings.primary_cta_text}}
        </a>
      </p>
    {% endif %}

    {% if section.settings.enable_secondary_cta %}
      <p class="secondary-cta">
        <a class="button" href="{{ section.settings.secondary_cta_link }}" style="{%- if section.settings.secondary_cta_bg_color -%}background-color: {{section.settings.secondary_cta_bg_color}};border-color: {{section.settings.secondary_cta_bg_color}};{%- endif -%}{%- if section.settings.secondary_cta_text_color -%}color: {{section.settings.secondary_cta_text_color}};{%- endif -%}">
          {{ section.settings.secondary_cta_text}}
        </a>
      </p>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Text Banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "primary_cta_text",
        "label": "Primary CTA Text"
      },
      {
        "type": "url",
        "id": "primary_cta_link",
        "label": "Primary CTA Link"
      },
      {
        "type": "color",
        "id": "primary_cta_text_color",
        "label": "Primary CTA Text Color"
      },
      {
        "type": "color",
        "id": "primary_cta_bg_color",
        "label": "Primary CTA Background Color"
      },
      {
        "type": "checkbox",
        "id": "enable_secondary_cta",
        "label": "Enable Secondary CTA"
      },
      {
        "type": "text",
        "id": "secondary_cta_text",
        "label": "Secondary CTA Text"
      },
      {
        "type": "url",
        "id": "secondary_cta_link",
        "label": "Secondary CTA Link"
      },
      {
        "type": "color",
        "id": "secondary_cta_text_color",
        "label": "Secondary CTA Text Color"
      },
      {
        "type": "color",
        "id": "secondary_cta_bg_color",
        "label": "Secondary CTA Background Color"
      }
    ],
    "presets": [
      {
        "name": "Text Banner",
        "category": "Text"
      }
    ]
  }
{% endschema %}