<section class="section three-item-banner">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title }}</h2>
  {% endif %}

  <swiper :options="swiperOption">
    {% for block in section.blocks %}
      <swiper-slide>
        <div class="item">
          <span class="number-{{forloop.index}}"></span>
          {{ block.settings.text }}
        </div>
      </swiper-slide>
    {% endfor %}
    <div class="swiper-pagination" slot="pagination"></div>
  </swiper>

  {% if section.settings.cta_text != blank %}
    <p class="cta">
      <a class="button" href="{{ section.settings.cta_link }}">
        {{ section.settings.cta_text}}
      </a>
    </p>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Three Item Banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Three Item Banner",
        "category": "Text"
      }
    ]
  }
{% endschema %}