<!DOCTYPE html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta name="p:domain_verify" content="2a5124afd415bf157b94755eb8d06104"/>
  <meta name="p:domain_verify" content="2a5124afd415bf157b94755eb8d06104"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">

  {% if page.template_suffix contains 'ptab' %}
    <meta name="robots" content="noindex">
  {% else %}
    <meta name="robots" content="index,follow">
  {% endif %}

  <meta name="google-site-verification" content="1GuKV9Ynhy01MON2gGSP-rmAXmClHgt956WgfNd9BEY" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Begin Anti-flicker snippet (recommended) -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>
    (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-NPXJWT9':true});
  </script>
  <!-- End Anti-flicker snippet -->

  <link rel="canonical" href="{{ canonical_url }}">
  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {% else %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}

  <!-- Optimization: Preload Fonts -->
  <link rel="preload" href="{{ 'neuzeitgroteskblack.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ 'neuzeit-grotesk-light-webfont.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ 'neuzeit_grotesk_regular-webfont.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ 'turbo.woff' | asset_url }}" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="{{ 'UniversLTStd-Cn.otf' | asset_url }}" as="font" type="font/otf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'UniversLTStd-BoldCn.otf' | asset_url }}" as="font" type="font/otf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'UniversLTStd.otf' | asset_url }}" as="font" type="font/otf" crossorigin="anonymous">
  <link rel="preload" href="{{ 'UniversLTStd-Bold.otf' | asset_url }}" as="font" type="font/otf" crossorigin="anonymous">

  <!-- Begin Theme Scripts -->
  {% include 'script-tags', layout: 'theme' %}
  <!-- End Theme Scripts -->

  <script src='//cdn.freshmarketer.com/233649/808396.js' async></script>

  <!-- Pinterest Pixel Base Code -->
  <script type="text/javascript">
    !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(
      Array.prototype.slice.call(arguments))};var
      n=window.pintrk;n.queue=[],n.version="3.0";var
      t=document.createElement("script");t.async=!0,t.src=e;var
      r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2614687646635');
    pintrk('page');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2614687646635&noscript=1" />
  </noscript>
  <!-- End Pinterest Pixel Base Code -->

  <!-- Taboola Pixel Code -->
  <script type='text/javascript'>
    window._tfa = window._tfa || [];
    window._tfa.push({notify: 'event', name: 'page_view', id: 1184199});
    !function (t, f, a, x) {
           if (!document.getElementById(x)) {
              t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
           }
    }(document.createElement('script'),
    document.getElementsByTagName('script')[0],
    '//cdn.taboola.com/libtrc/unip/1184199/tfa.js',
    'tb_tfa_script');
  </script>
  <noscript>
    <img src='//trc.taboola.com/1184199/log/3/unip?en=page_view'
        width='0' height='0' style='display:none'/>
  </noscript>
  <!-- End of Taboola Pixel Code -->

  <!-- start BKPlatform -->
  <script type="text/javascript">
  {% if customer %}
  var BKCustomer = {
      id: {{ customer.id }}
  };
  {% endif %}

  if(typeof Shopify === 'undefined') {
      Shopify = {};
  }

  if (!Shopify.shop) {
    Shopify.shop = 'xpandlaces.myshopify.com';
  }
  var bkRawUrl = function(){return window.location.href}();
  (function (doc, scriptPath) {
      var sc, node, today=new Date(),dd=today.getDate(),mm=today.getMonth()+1,yyyy=today.getFullYear();if(dd<10)dd='0'+dd;if(mm<10)mm='0'+mm;today=yyyy+mm+dd;
      // Load base script tag
      sc = doc.createElement("script");
      sc.type = "text/javascript";
      sc.async = !0;
      sc.src = scriptPath + '?' + today;
      node = doc.getElementsByTagName("script")[0];
      node.parentNode.insertBefore(sc, node);
  })(document, 'https://sdk.beeketing.com/js/beeketing.js');
  </script>
  <!-- end BKPlatform -->

  <style>@font-face{font-display:swap;font-family:'neuzeit_grotesk_light';src:url('{{ "neuzeit-grotesk-light-webfont.eot" | asset_url }}');src:url('{{ "neuzeit-grotesk-light-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),url('{{ "neuzeit-grotesk-light-webfont.woff2" | asset_url }}') format('woff2'),url('{{ "neuzeit-grotesk-light-webfont.woff" | asset_url }}') format('woff'),url('{{ "neuzeit-grotesk-light-webfont.ttf" | asset_url }}') format('truetype'),url('{{ "neuzeit-grotesk-light-webfont.svg#neuzeit_grotesklight" | asset_url }}') format('svg');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'neuzeit_grotesk_regular';src:url('{{ "neuzeit_grotesk_regular-webfont.eot" | asset_url }}');src:url('{{ "neuzeit_grotesk_regular-webfont.eot?#iefix" | asset_url }}') format('embedded-opentype'),url('{{ "neuzeit_grotesk_regular-webfont.woff2" | asset_url }}') format('woff2'),url('{{ "neuzeit_grotesk_regular-webfont.woff" | asset_url }}') format('woff'),url('{{ "neuzeit_grotesk_regular-webfont.ttf" | asset_url }}') format('truetype'),url('{{ "neuzeit_grotesk_regular-webfont.svg#neuzeit_groteskregular" | asset_url }}') format('svg');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'neuzeitgroteskblack';src:url('{{ "neuzeitgroteskblack.eot" | asset_url }}');src:url('{{ "neuzeitgroteskblack.eot?#iefix" | asset_url }}') format('embedded-opentype'),url('{{ "neuzeitgroteskblack.woff2" | asset_url }}') format('woff2'),url('{{ "neuzeitgroteskblack.woff" | asset_url }}') format('woff'),url('{{ "neuzeitgroteskblack.ttf" | asset_url }}') format('truetype'),url('{{ "neuzeitgroteskblack.svg#neuzeitgroteskblack" | asset_url }}') format('svg');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'sf_display_regular';src:url('{{ "sfcompactdisplay-regular-webfont.woff" | asset_url }}') format('woff'),url('{{ "sfcompactdisplay-regular-webfont.ttf" | asset_url }}') format('truetype');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'Univers-Cn';src:url('{{ "UniversLTStd-Cn.eot?#iefix" | asset_url }}') format('embedded-opentype'),url('{{ "UniversLTStd-Cn.otf" | asset_url }}') format('opentype'),url('{{ "UniversLTStd-Cn.woff" | asset_url }}') format('woff'),url('{{ "UniversLTStd-Cn.ttf" | asset_url }}') format('truetype'),url('{{ "UniversLTStd-Cn.svg#UniversLTStd-Cn" | asset_url }}') format('svg');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'Univers-BoldCn';src:url('{{ "UniversLTStd-BoldCn.otf" | asset_url }}') format('opentype'),url('{{ "UniversLTStd-BoldCn.woff" | asset_url }}') format('woff');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'UniversLTStd';src:url('{{ "UniversLTStd.otf" | asset_url }}') format('opentype'),url('{{ "UniversLTStd.woff" | asset_url }}') format('woff');font-weight:400;font-style:normal}@font-face{font-display:swap;font-family:'UniversLTStd';src:url('{{ "UniversLTStd-Bold.otf" | asset_url }}') format('opentype'),url('{{ "UniversLTStd-Bold.woff" | asset_url }}') format('woff');font-weight:bold;font-style:normal}@font-face{font-display:swap;font-family:'turbo';src:url('{{ "turbo.eot" | asset_url }}');src:url('{{ "turbo.eot" | asset_url }}') format('embedded-opentype'),url('{{ "turbo.woff" | asset_url }}') format('woff'),url('{{ "turbo.ttf" | asset_url }}') format('truetype'),url('{{ "turbo.svg" | asset_url }}') format('svg');font-weight:400;font-style:normal}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:"turbo";font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.15em;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-down-arrow:before{content:"\e904"}.icon-search:before{content:"\e913"}</style>
  {% include 'style-tags', layout: 'theme' %}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}

  {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js" | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-525LHL5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="app">
    {% section 'header' %}

    {{ content_for_layout }}

    {% section 'footer' %}
  </div>

  {% include 'quantity-breaks-now' %}
</body>
</html>
